*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.box{
  height: 150px;
  width: 150px;
  border: 2px solid black;
  margin: 2px;
  display: block;
  background-color: aquamarine;
}

.container{
  background-color: navajowhite;
}
